<table id="tableRides">
  <div class = "row">
    <tr class="edit">
    <td>{{date}}</td>
    <td>{{title}}</td>
    <td>{{start}}</td>
    <td>{{end}}</td>
    <td>{{distance}}</td>
    <<td>{{time}}</td>
    </tr>
  </div>
</table>
