<table id="tableRides">
  <div class="row">
    <tr class="edit">
    <div class="column column-2"><td>{{title}}</td></div>
    <div class="column column-2"><td>{{start}}</td></div>
    <div class="column column-2"><td>{{end}}</td></div>
    <div class="column column-2"><td>{{distance}}</td></div>
    <div class="column column-2"><td>{{time}}</td></div>
    </tr>
  </div>
</table>
