<!-- table view -->
<!-- <table id="theTable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start</th>
      <th>End</th>
      <th>Distance</th>
      <th>Time</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
      <tr id="rideRow">
        <td> {{title}} </td>
        <td> {{start}} </td>
        <td> {{end}} </td>
        <td> {{distance}} </td>
        <td> {{time}} </td>
        <td> {{notes}} </td>
      </tr>
    </tbody>
</table> -->
