<table id="tableRides">
    <tr>
      <td class="edit">{{title}}</td>
      <td class="edit">{{start}}</td>
      <td class="edit">{{end}}</td>
      <td class="edit">{{distance}}</td>
      <td class="edit">{{time}}</td>
    </tr>
</table>
