<!-- new ride -->
<form id="rideform">
  <h1>Add a new ride</h1>
  <div class="inset">
    <p>
      <label for="email">Start Point</label>
      <input type="text" placeholder="Where'd you start your ride?" id="start">
    </p>
    <p>
      <label for="password">End Point</label>
      <input type="text" placeholder="...And where'd you ride to?"id="end">
    </p>
    <p>
      <label for="password">Distance</label>
      <input type="text" placeholder="We'll fill this in for you" id="distance">
    </p>
    <p>
      <label for="password">Time</label>
      <input type="text" placeholder="How long was your ride?" id="time">
    </p>
    <p>
      <label for="password">Title</label>
      <input type="text" placeholder="Name your trip" id="title">
    </p>
    </div>
    <p class="p-container">
      <input type="submit" value="Add it">
    </p>
</form>
<table id="thetable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start</th>
      <th>End</th>
      <th>Distance</th>
      <th>Time</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @rides.each do |ride| %>
        <tr id="riderow">
          <td><%= ride.title %></td>
          <td><%= ride.start %></td>
          <td><%= ride.end %></td>
          <td><%= ride.distance %></td>
          <td><%= ride.time %></td>
          <td><%= ride.notes %></td>
        </tr>
    <% end %>
</table>

    <!-- <tr class="ridetable"> -->
