<!DOCTYPE html>
<html>
<head>
  <script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet' type='text/css'>
  <title>Tred</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
  <nav id="nav">
    <ul id="nav-items">
        <li id="account-info"><a href="#"> Sign out</a></li>
        <li id="account-info"><a href="#"> | My Account</a></li>
    </ul>
  </nav>
</div>

<div id='map' class='dark'></div>

<!-- new ride -->
<div id ="ride">
<form id="rideform">
  <h1>Add a new ride</h1>
  <div class="inset">
  <p>
    <label for="email">Start Point</label>
    <input type="text" placeholder="Where'd you start your ride?" id="start">
  </p>
  <p>
    <label for="password">End Point</label>
    <input type="text" placeholder="...And where'd you ride to?"id="end">
  </p>
  <p>
    <label for="password">Distance</label>
    <input type="text" placeholder="We'll fill this in for you" id="distance">
  </p>
  <p>
    <label for="password">Time</label>
    <input type="text" placeholder="How long was your ride?" id="time">
  </p>
  <p>
    <label for="password">Title</label>
    <input type="text" placeholder="Name your trip" id="title">
  </p>
  </div>
  <p class="p-container">
    <input type="submit" value="Add it">
  </p>

</form>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Start</th>
      <th>End</th>
      <th>Distance</th>
      <th>Time</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @rides.each do |ride| %>
        <tr>
          <td><%= ride.title %></td>
          <td><%= ride.start %></td>
          <td><%= ride.end %></td>
          <td><%= ride.distance %></td>
          <td><%= ride.time %></td>
          <td><%= ride.notes %></td>
        </tr>
    <% end %>
    <!-- <tr class="ridetable"> -->
</table>

</div>
<%= yield =%>

</body>
</html>
